<header class="header-6">
    <div class="branding">
        <a href="javascript://" class="nav-link" routerLink="/">
            <clr-icon shape="vm-bug"></clr-icon>
            <span class="title">Networking &amp; Security</span>
        </a>
    </div>
    <div class="header-nav">
    </div>
    <div class="header-actions">
        <a href="javascript://" class="nav-link nav-icon" (click)="onRefresh()">
            <clr-icon shape="refresh"></clr-icon>
        </a>
        <a href="javascript://" class="nav-link nav-icon">
            <clr-icon shape="cog"></clr-icon>
        </a>
    </div>
</header>