<ul id="" class="nav hide-in-webclient" role="tablist">
  <li role="presentation" class="nav-item">
    <button class="btn btn-link nav-link" routerLink="./configuration" [routerLinkActive]="['active']" type="button">Configuration</button>
  </li>
  <li role="presentation" class="nav-item">
    <button class="btn btn-link nav-link" routerLink="./drafts" [routerLinkActive]="['active']" type="button">Saved Configurations</button>
  </li>
  <li role="presentation" class="nav-item">
    <button class="btn btn-link nav-link" routerLink="./settings" [routerLinkActive]="['active']" type="button">Settings</button>
  </li>
</ul>

<router-outlet></router-outlet>



