<div class="card">
  <div class="card-block">
    <h3 class="card-title">What is VMware® NSX?</h3>
    <div style="max-width:800px">
      <div class="getting_started_image pull-right"></div>
      <p class="card-text">
        VMware® NSX is a software-networking platform that delivers the operational model of a VM for the network. Virtual networks
        reproduce the network model in software, allowing complex multi-tier network topologies to be created and provisioned
        programmatically in seconds. NSX includes a library of logical networking services – logical switches, logical routers,
        logical firewalls, logical load balancers, logical VPN, QoS, and distributed security. <br> <br> A self-service interface
        allows users to create custom combinations of these services in isolated software-based virtual networks that support
        existing applications without modification or deliver unique requirements for new application workloads. Similar
        to virtual machines in compute, virtual networks are programmatically provisioned and managed independent of networking
        hardware. Decoupling from hardware introduces agility, speed and operational efficiency that has transformed datacenter
        economics.
      </p>
    </div>

  </div>

</div>